.orderTotalTextStyle {
    font-size: large;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
    padding-right: 15px;
}

.orderTotalRow {
    display: flex;
    justify-content: right;
}