.logo {
    width: 30%;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
}
.login-form {
    display: flex;
    justify-content: center;
}
.form {
    width: 500px;
}
.form-buttons-login {
    margin-left: 45%;
}
.form-buttons-register {
    margin-left: 41%;
}